.product{
   
   width: 20vw;
    padding: 40px;
   
    height: 500px;
   
   
    margin-top: 5px;
    margin-bottom: 10px;
   
    text-align: center;
  

}
.product img{
    width: 100%;
    height:25vw;
    border-radius: 2rem;
    pointer-events: none;
}

.caraousel{
width:auto;
max-width: 80vw;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;


}

@media screen and (max-width:1068px){
    .caraousel{
       
        display: flex;
  
        
    }
    .product{
        width:49%;
        height:auto;
        padding:0;
        background-color: #fff;

    }

    .product img{
        
     

    }
   

}

.btn-cart{
    background-color: var(--primary);
   
    margin-bottom:5px;
    color: #fff;
width: 90%;
height: 60px;

}
h3{

    color: var(--dark);
}