.nav{
display:flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;

width: 100vw;
background-color: var(--primary);
color:var(--basic);


}
.input{
 
}
.logo{
    width: 200px;
}
.cart{
    width: 50px;
    margin-right: 20px;
}
@media screen and (max-width:568px){

.nav{
 flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 100px
}
.input{
 width: 100vw;
 margin-bottom: 10px;
 margin-top: 10px;
}
select{
    display: none;
}
}