.nav-item{
width: 100vw;
height: 120px;
background-color:var(--primary);
opacity: 0.6;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
margin-top: 2px;

}
.page-title{
    color:#fff;
}
.sign-out{
    position: relative;
    left:5vw;
    height: 50px;
    font-size: xx-small;
    bottom: 12px;
}
.shopping-bag{
    width: 100vw;
min-height: 50vw;
background-color: #fff;
color: var(--dark);
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}


