.nav-item{
width: 100vw;
height: 70px;
background-color:var(--primary);
opacity: 0.6;
color: #fff;
display: flex;
justify-content: center;
align-items: center;

max-width: 100vw;


}
body,html{
    max-width: 100vw;
}
.page-title{
    color:#fff;
}
.the-cart{
    background-color: #fff;
   
    width: 100vw;
  
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
}
table{
    color:black;
   
}
td{
    
    width: 10vw;
   text-align: center;
   border: 2px solid black;
   margin-right: 10px;
}
button{
    background-color: #fff;
    border: none;
    outline: none;
    position: relative;
    bottom: 15px;
}
.checkout{
    width: 100vw;
    background-color: dodgerblue;
    color: #fff;
    border-radius: 0;
}