
@tailwind base;
@tailwind components;
@tailwind utilities;
*{

margin: 0;
padding: 0;
box-sizing: border-box;
max-width: 100vw;

}
:root{
--primary:#180018;
--secondary:#301860;
--basic:#7890a8;
--dark:#000000;
--dark-light:#737373;
--dark-col:black;




}